<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phishing URL Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">


</head>

<body>

<div class="card">
    <h3 class="title">🔐 Phishing URL Detection</h3>

    <form method="POST" action="/predict">
        <input type="text" name="url" class="form-control mb-3"
               placeholder="Enter website URL (https://example.com)" required>
        <div class="text-center">
            <button type="submit" class="btn btn-check">Check URL</button>
        </div>
    </form>

    <p class="text-center text-muted mt-3">
        AI-powered phishing detection • Stay safe online
    </p>
</div>

</body>
</html>
